@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    background: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 63px;
    left: 55px;
    top: 126px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0065FC;
}

i {
    font-size: 12px;
    color: #0065FC;
}

i:nth-last-child(1) {
    color: #F2F2F2;
}

section {
    margin-bottom: 60px;
}

/* class */

.align-horizon {
    display: flex;
}

.input-search {
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width:289px;
    height: 49px;
    
}

.btn-search {
    margin-top: 20px;
    background: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;   
}

/* structur */

#content {
    width: 1440px;
    margin: auto;
    padding: 50px 50px 0 50px;
    background: #FFFFFF;
}


#primary-nav img {
    width: 61.09px;
    height: 19px;
    position: absolute;
}

#primary-nav ul {
    justify-content:flex-end;
    align-items: center;
}

#primary-nav li a {
    margin-left: 67px;
    font-size: 16px;
}

/* find your accommodation */

#h2-header { 
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

header div p {
    font-size: 18px;
    font-weight: 700;
    margin-right: 35px;
}

header div:nth-child(5) {
    align-items: center;
    margin-top: 46px;
}

header div ul {
    font-size: 17px;
    font-weight: 700;
}

header div li { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    font-size: 17px;
    font-weight: 700;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px; 
}

header div li:hover {
    background: #DEEBFF;
}



header div li:nth-child(1) {
    width: 175px;
    height: 48px;
}

header div li:nth-child(2) {
    width: 136px;
    height: 48px;
}

header div li:nth-child(3) {
    width: 172px;
    height: 48px;
}

header div li:nth-child(4) {
    width: 226px;
    height: 48px;
}

header p:nth-of-type(2) {
    margin-top: 38px;
    font-size: 16px;
    font-weight: 400;
}

header > p {
    margin-top: 36px;
    font-weight: 400;
    font-size: 16px;
}

/* Accommodation in Marseille */

#accommodation {
    margin-top: 39px;
    padding-top: 42px;
    padding-bottom: 46px;
    width: 880px;
    height: 626px;
    background: #F2F2F2;
    border-radius: 20px;
}

#accommodation h2 {
    width: 100%;
    margin-left: 40px;
}

#accommodation h3 {
    margin-top: 4px;
}

#accommodation h3, #accommodation p, #accommodation i:nth-child(1) {
    margin-left: 16px;
}

#accommodation > div {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 23px;
}

#accommodation article {
    background: #FFFFFF;
    border-radius: 20px;
    width: 246px;
    height: 199px;
    margin: 20px;
}

#accommodation figure{
    width: 246px;
    height: 124px;
}

#accommodation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#acommodation div p {
    font-weight: 400;
    font-size: 14px;
}

#accommodation > a {
    margin-left: 40px;
    font-weight: 700;
    font-size: 18px;
}

/* The most popular*/

#popular {
    margin-top: 39px;
    margin-left: 40px;
    padding-left: 37px;
    padding-top: 41px;
    padding-bottom: 34px;
    width: 420px;
    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
}

#popular h2 {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 22px;
}

#popular article {
    margin-bottom: 33px;
    padding-right: 5px;
    width: 343px;
    height: 144px;
    border-radius: 20px;
    background: #FFFFFF;
}

#popular article a {
     display: flex;
}

#popular article a > div {
    width: 206px;
    padding-top: 16px;
    padding-left: 15px;
}

#popular figure {
    width: 137px;
    height: 144px;
    
}

#popular img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
/* activity */

#activity div {
    justify-content: space-between;
}
    
#activity h2 {
    font-weight: 700;
    font-size: 22px;
}

#activity article {
    margin-top: 18.47px;
    width: 302px;
    height: 444.51px;
    border-radius: 20px;
    box-shadow: 0px 9px 16px 0px rgba(148,147,147,0.25);
}

#activity div article figure img{
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#activity h3 {
    margin-top: 15px;
    margin-left: 19px;
}

footer {
    background: #F2F2F2;
    max-width: 1339px;
    height: 100%;
    padding-top: 45px;
    padding-bottom: 58px;
    justify-content: space-around;
}

footer h3 {
    margin-bottom: 20px;
}

footer li {
    margin-bottom: 12px;
}

@media screen and (max-width:1439px) {
    #content {
        width:100%;
    }

    #popular {
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 40px;
        padding-right: 40px;
        max-width: 880px;
        width: 100%;
        height: auto;
    }

    main > div {
        flex-wrap: wrap;
    } 

    #popular > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #popular article {
        width: 252px;
        margin-right: 10px;
    }

    #activity div {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    #activity article {
        margin-right: 30px;
    }
}

@media screen and (max-width:1000px) {

    header div:nth-child(5) {
        flex-wrap: wrap; 
    }

    header img {

    }

    header ul {
        flex-wrap: wrap;
    }

    #accommodation {
        height: auto;
    }

    #accommodation div {
        justify-content: space-around;
        align-items: space-around;
    }

    #popular {
        background: #FFFFFF;
    }

    #popular article {
        box-shadow: -1px 8px 41px 0px rgba(0,0,0,0.15);
    }

    footer nav {
        width: 197px;
        margin-right: 15px;
        margin-top: 30px;
    }

}

@media screen and (max-width:700px) {
    footer {
        flex-direction: column;
        padding-left: 50px;
    }

    
}

@media screen and (max-width:687px) {

    #content {
        padding: 0px 0px 0px 0px;
    }

    header {
        padding: 40px;
    }

    #accommodation {
        width: 100%;
        border-radius: 0px;
    }
    #activity h2 {
        margin-left: 40px;
    }
}

@media screen and (max-width:560px) {
    #popular div {
        justify-content: center;
    }
}

@media screen and (max-width:434px) {

    .btn-search {
        min-width: 49px;
        min-height: 49px;
    }

    .input-search {
        width: 232px;
    }
}

@media screen and (max-width:395px) {

    header img {
        display: block;
        position: relative;
        left: 50%;
        transform: translate( -50%, -50%);
    }

    #primary-nav ul {
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    
    #primary-nav ul li {
        margin-top: 30px;
    }

    #primary-nav ul li a {
        margin-left: 0px;
    }

    #popular > div {
        justify-content: center;
    }

    footer nav {
        width: auto;
    }
}